@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	body {
		@apply h-full bg-white dark:bg-darkGrey dark:text-white;
	}

	#__next {
		@apply h-full;
	}

	h2,
	h3 {
		scroll-margin-top: 100px;
	}

	select {
		@apply bg-transparent appearance-none border-none cursor-pointer font-sans w-full;
		font-family: inherit;
		font-size: inherit;
		line-height: inherit;
	}
	code {
		@apply font-sans;
	}
	pre code {
		@apply bg-primary-dark break-words;
	}
	pre code {
		display: block;
		background: none;
		white-space: pre;
		-webkit-overflow-scrolling: touch;
		overflow-x: scroll;
		max-width: 100%;
		min-width: 100px;
		padding: 0;
	}
	:root {
		--select-border: #777;
		--select-focus: blue;
		--select-arrow: var(--select-border);
	}
}
