@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply h-full bg-white dark:bg-darkGrey dark:text-white;
	}

	#__next {
		@apply h-full;
	}

	h2,
	h3 {
		scroll-margin-top: 100px;
	}
	/* Safari-only */
	@supports (-webkit-hyphens: none) {
		h2,
		h3 {
			padding-top: 100px;
			margin-top: -100px;
		}
	}
}
