@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	body {
		@apply h-full bg-white dark:bg-darkGrey dark:text-white;
	}

	#__next {
		@apply flex h-full min-h-full flex-col;
	}

	h2,
	h3 {
		scroll-margin-top: 100px;
	}

	select {
		@apply w-full cursor-pointer appearance-none border-none bg-transparent font-sans;
		font-family: inherit;
		font-size: inherit;
		line-height: inherit;
	}
}

code {
	@apply font-sans;
}
pre code {
	@apply my-8 block  min-w-[100px] max-w-full overflow-x-scroll whitespace-pre break-words rounded border border-solid border-gray-300 border-opacity-70 bg-[#F8F9FA] p-4 text-[#3C3C3D] dark:border-opacity-20 dark:bg-[#121821] dark:text-white;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	@apply text-gray-700 dark:text-gray-400;
}

.token.punctuation {
	@apply text-gray-700 dark:text-gray-400;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.console,
.token.deleted {
	@apply text-[#00B680] dark:text-blue-500;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	@apply text-[#8152F0] dark:text-white;
}

.token.operator {
	@apply text-[#FB9328] dark:text-[#FF7B73];
}

.token.entity,
.token.url,
.token.keyword,
.language-css .token.string,
.style .token.string {
	@apply text-[#2277F0] dark:text-[#FF7B73];
}

.token.atrule,
.token.attr-value {
	@apply dark:text-pink-600;
}

.token.function {
	@apply text-[#F33F8E] dark:text-purple-400;
}

.token.regex,
.token.important,
.token.variable {
	@apply text-[#fb8532];
}
